<%= form_tag(cart_update_path, method: :patch) do %>
  <%= submit_tag 'Update Cart', class: 'btn btn-primary' %>
  <div class="row mt-5">
    <% @products.each do |product| %>
      <div class="col-4">
        <div class="card mb-3">
          <img src="<%= product.image %>" class="card-img-top img-responsive" alt="...">
          <div class="card-body">
            <h5 class="card-title"><%= product.title %></h5>
            <p class="card-text"><%= product.description %></p>
            <p class="card-text"><small class="text-muted"><%= formated_price(product.price) %></small></p>
            <label class="check-box">
              <%= check_box_tag 'products[]', product.id, cart_product?(@cart, product), class: 'form-check-input' %>
              Add to Cart
            </label>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= submit_tag 'Update Cart', class: 'btn btn-primary mb-3' %>
<% end %>